{% load static %}
<div style="padding-top: 10px;">
    <hr style="margin-top: 0px; margin-bottom: 8px;">
    <div class="d-flex justify-content-between" style="font-size: 10px;">
        <div class="col-6" style="margin-left: 2%;">
            <span>2024 &copy; <a style="color: #203F99; font-size:12px" href="#">Interactive Cares.</a> All rights reserved.</span>
        </div>
        <div class="col-2" >
           <p style=" font-size: 10px; margin-left: 50%;">Version 1.0.0</p>
        </div>
    </div>
</div>